html {
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 48px;
    line-height: 59px;
    margin: 40px 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

input {
    width: 620px;
    height: 50px;
    background: #f8efef;
    border: 1px solid #dcc8c8;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
    padding: 10px 30px;
    margin-bottom: 30px;
}

.line {
    display: flex;
    align-items: center;
    background: #fcfbfb;
    border: 1px solid #dcc8c8;
    box-sizing: border-box;
    border-radius: 3px;
    width: 1024px;
    height: 60px;
    font-size: 24px;
    line-height: 29px;
    padding: 10px 30px;
    font-weight: 300;
    margin-bottom: 15px;
}

.line span {
    margin-right: 10px;
}
